.popup__input {
  margin: 0;
  width: 100%;
  max-width: 354px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 9px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  outline-color: rgb(226, 226, 226);
}

@media screen and (max-width: 868px) {
  .popup__input {
    max-width: 280px;
  }
}

@media screen and (max-width: 425px) {
  .popup__input {
  padding-bottom: 9px;
  max-width: 234px;
  }
}
